{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["react-hot-loader/babel",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-proposal-class-properties"
  ]
}
