.CORN-msgContainer:hover {
  border: 1px solid blue;
}
.CORN-msgContainer {
  border: 1px solid transparent;
}
body {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.CORN-reaction {
  cursor: pointer;
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding-right: 2px;
  position: relative;
  border: 1px solid #c7dee5;
  border-radius: 4px;
  height: 20px;
}
.CORN-reaction-count {
  font-size: 80%
}
.CORN-tag {
  font-size: 80%;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  padding-left: 2px;
  padding-right: 4px;
  position: relative;
  background: #FFFFCC;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  border-left: 2px solid green;
}
.CORN-tag:before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #FFFFCC;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.CORN-addTag {
  border-radius:4px 4px 4px 4px;
  border:solid 1px #000;
  padding:2px;
  margin-right: 2px;
  font-size: 80%;
  cursor: pointer;
}
.CORN-addTagDialog {
  position:relative;
  display: block;
  top: 0px;
  left: 0px;
  background: white;
  border-radius: 5px;
  border: 3px solid green;
  padding: 4px;
}

.Select, .CORN-Select {
  display: inline-block;
  width: 200px;
}

.CORN-tagFilter {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
}
.CORN-logo {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  width: 128px;
  height: 32px;
  display: inline-block;
}
.CORN-logo img {
  vertical-align: middle;
}
.CORN-dialog {
  position: absolute;
  top: 0px;
  background: white;
  z-index: 11;
  margin-left: 50px;
  margin-top: 50px;
  width: 500px;
  height: 600px;
  border-radius: 25px;
  border: 2px solid green;
}
.CORN-dialog div {
  margin: 10px 10px 10px 10px;
}
.CORN-input {
  padding: 8px;
  margin-right: 2px;
}
.CORN-clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.CORN-dialog-heading {
  font-size: 20px;
  float: left;
}
.CORN-dialog-x {
  cursor: pointer;
  float: right;
}
.CORN-button, .CORN-button-default {
  background-color: #4CAF50;
  color: white;
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}
.CORN-button-default {
  background-color: #2196F3;
  font-weight: bold;
}
.CORN-info, .CORN-success, .CORN-error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.CORN-error {
  color: #D8000C;
  background-color: #FFBABA;
}
.CORN-info {
  color: #00529B;
  background-color: #BDE5F8;
}
.CORN-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}



/** Lifted from https://martinwolf.org/before-2018/blog/2015/01/pure-css-savingloading-dots-animation/ */
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
